*{
	margin: 0;
	padding: 0;
}
.clock{
	position: relative;
}
.hour{
	position: absolute;
	top: 10px;
	left: 290px;
}
.min{
	position: absolute;
	top: 10px;
	left: 290px;
}
.sec{
	position: absolute;
	top: 10px;
	left: 290px;
	animation: clockmove 60s steps(60) infinite;
}
@keyframes clockmove{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}		